@using DOAN.Models;
@model IEnumerable<TbRoom>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách sản phẩm</h4>
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Quản lý sản phẩm</li>
                            </ol>
                        </div>
                        <p>
                            <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Room" asp-action="Create">
                                <i class="mdi mdi-file-document"></i>Thêm sản phẩm
                            </a>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ảnh đại diện</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Liên kết</th>
                                       
                                        <th>Giá</th>
                                        <th>SP Mới</th>
                                       
                                        <th>Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                     {
                                        <tr id="tr_@item.RoomId">
                                            <td>@(i++)</td>
                                            <td>
                                                <img style="max-width: 50px;height: auto;" src="@item.Image" />
                                            </td>
                                            <td>@item.Title</td>
                                            <td>@item.Alias</td>
                                            <td>@item.Price</td>
                                            <td>@Html.CheckBox("IsNew", item.IsNew)</td> 
                           
                                            <td>@Html.CheckBoxFor(modelItem => item.IsActive)</td>

                                            <td>
                                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.RoomId">Sửa</a> |
                                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.RoomId">Chi tiết</a> |
                                                <a class="btn btn-danger btn-sm btn-delete" data-id="@item.RoomId">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->